@charset "UTF-8";
a{
	text-decoration: none;
}

* button{
	border: 2px solid black;
	border-radius : 3px;
	padding : 5px;
	color : white;
	background-color : #990000;
	font-size: 16px;
}

* button:hover{
	color : black;
	background-color : #99eeee;
	border: 2px solid black;
	cursor: pointer;
}
body{
	background-color: #dddddd;
}
#root{
	width : 1000px;
	margin : auto;
}

header{
	font-size: 32px;
	width : 100%;
	background-color : #990000;
	height : 90px;
}

header  h1{
	
	width : 250px;
	text-align : left;
	margin: 0  0 0 10px;
	visibility: inline;
	float : left;
	
}

header  h1 a{
	color : black;
}

header #nav {
	text-align : right;
	margin : 0 ;
	height : 25px;
	padding : 0;
}

header #nav #in{
	padding-top : 50px;
	
}
header #nav #in a{
	margin-right : 15px;
	border: 2px solid black;
	border-radius : 3px;
	padding : 5px;
	color : white;
	background-color : #990000;
	font-size: 16px;
}

header #nav #in a:hover{
	color : black;
	background-color : #99eeee;
	border: 2px solid black;
}

header::after { 
	content: ""; 
	display: block; 
	clear: both 
}

nav {
	border-top : 5px solid #990000;
}

#title{
	border-bottom : 2px solid #990000;
	margin-bottom : 0;
}

#writer{
	color : #777777;
	font-size : 14px;
}

#td_content{
	padding : 10px 0 50px;
	
}

#div_button{
	border-top : 2px solid #990000;
	margin-top : 10px;
	padding-top : 10px;
}



#td1{
	width : 90px;
	padding-top : 1px;
	vertical-align:top;
}

#div_reply_input td{
	vertical-align:top;
}

#replyWriteBtn{
	text-align : right;
}

#reply_div{
	padding-bottom : 10px;
	border-bottom : 2px solid #990000;
}

#reply_div #reply_content_span{
	display : block;
	padding-bottom : 5px;
	
}
#div_comment {
	margin-top : 50px;
	margin-bottom : 30px;
}
#div_reply_input #td1{
	width : 100px;
}